__pycache__

test/
README.md

detected_person_identification/known_people_db/*
detected_person_identification/known_people_db/Mike/*
!detected_person_identification/known_people_db/Mike
detected_person_identification/known_people_db/Kevin/*
!detected_person_identification/known_people_db/Kevin

*Profiling*.json
*.html

Makefile